/** @format */

* {
	padding: 0;
	margin: 0;
}
.bg-blue {
	background-color: #2980b9;
}
.bg-img {
	background-image: url(/images/image1.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-img1 {
	background-image: url(/images/image.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-img-lg {
	background-image: url(/images/dblogo.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.cl-home {
	color: #6ecddd;
}
